<!-- <div id="myModal" class="modal" > -->
<div id="myModal" class="modal" *ngIf="display == 'block'">
  <div class="modal-content">
    <span class="close" (click)="changeState('none')">&times;</span>
    <img src="../../../assets/bitcoin.png" alt="Bitcoin" class="bitcoinLogo">
    <p class="modalDay"><b class="modalDay"> {{MonthModel + " " + dayModel}}</b></p>
    <p class="amountDay">{{priceUSDModel | currency:'USD ':'symbol':'1.2-2'}}</p>
    <p class="amountDay">{{priceCOPModel | currency:'COP ':'symbol':'1.2-2'}}</p>
    <p class="amountDay">{{priceEURModel | currency:'EUR ':'symbol':'1.2-2'}}</p>
  </div>

</div>